@{
    ViewBag.Title = "About";

}

@{
    ViewBag.Class = "Software Developer Programme";
}

<h2>@ViewBag.Class</h2>
<h2>@ViewBag.MyName</h2>
<h3>@ViewBag.Message</h3>


<p>Hello, this is a about page</p>
